<!DOCTYPE html>
<html>
<head>
    <title>Diet Plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="food-section">

    <h1>Smart Diet Recommendation</h1>

    <div class="food-container">

        <div class="food-card">
            <h2>Foods for Weight Gain</h2>

            <ul>
                <li>Eggs</li>
                <li>Chicken Breast</li>
                <li>Rice</li>
                <li>Bananas</li>
                <li>Peanut Butter</li>
                <li>Milk</li>
                <li>Paneer</li>
                <li>Whey Protein</li>
                <li>Dry Fruits</li>
                <li>Potatoes</li>
            </ul>
        </div>

        <div class="food-card">
            <h2>Foods for Weight Loss</h2>

            <ul>
                <li>Oats</li>
                <li>Salads</li>
                <li>Cucumber</li>
                <li>Carrots</li>
                <li>Boiled Eggs</li>
                <li>Green Tea</li>
                <li>Soup</li>
                <li>Brown Rice</li>
                <li>Apple</li>
                <li>Sprouts</li>
            </ul>
        </div>

        <div class="food-card">
            <h2>Avoid for Weight Loss</h2>

            <ul>
                <li>Cold Drinks</li>
                <li>Pizza</li>
                <li>Burgers</li>
                <li>Deep Fried Foods</li>
                <li>Excess Sugar</li>
                <li>Ice Cream</li>
                <li>Bakery Foods</li>
                <li>Processed Foods</li>
            </ul>
        </div>

        <div class="food-card">
            <h2>Daily Healthy Routine</h2>

            <ul>
                <li>Drink 3-4 Liters Water</li>
                <li>Sleep 7-8 Hours</li>
                <li>Exercise Daily</li>
                <li>Eat Protein Rich Foods</li>
                <li>Avoid Junk Food</li>
</html>